*{
  margin:0;
  padding:0;
}
html{
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  background-repeat: no-repeat;
  min-height:100%;
  width:100%;
}
h1{
  font-family:"Helvetica";
}
button{
  font-family:"Helvetica";
  padding:7px 17px;
  margin:0em;
  text-indent:0px;
  box-sizing: border-box;
  cursor: pointer;
}

input{
  font-family:"Helvetica";
  padding:7px 17px;
}
select{
  cursor: pointer; 
}
label{
  font-size: 1em;
}
@media(min-width:300px){
  
  .SearchResultBar{
    position:absolute;
    width:80%;
    min-height: 20vh;
    max-height:20vh;
    bottom:0;
    background-color:white;
    z-index:50;
    margin-top:0;
    margin-left:0;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow:hidden;
    }
    .searchContainer{
      max-height: 1000vh;
      min-height: 10vh;
      bottom:0;
      width:100%;
      display:flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      overflow: scroll;
      clear:both;
    }
    .searchResultTab{
    width:100%;
    padding-top:1vh;
    padding-bottom:1vh;
    border-style:solid;
    border-width:1px;
    clear:both;
    }
    .searchResultName{
      display:flex;
      justify-content: center;
      clear:both;
    }
    
    .searchResultDetail{
      display:none;
      clear:both;
    }
    
}
@media (min-width: 1050px) {
  .SearchResultBar{
    position:absolute;
    width:25vw;
    min-height: 60vh;
    max-height:60vh;
    top:0;
    background-color:white;
    z-index:50;
    margin-top: 30vh;
    margin-left:1vh;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow:hidden;
    }
    .searchContainer{
      max-height: 60vh;
      min-height: 50vh;
      display:flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      overflow: scroll;
      clear:both;
    }
    .searchResultTab{
    width:100%;
    padding-top:1vh;
    padding-bottom:1vh;
    border-style:solid;
    border-width:1px;
    clear:both;
    }
    .searchResultName{
      display:flex;
      justify-content: center;
      clear:both;
    }
    
    
}
.header{
  position:Relative;
  
  min-width:100%;
  min-height: 7vh;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
}
.filter-bar{
  position:absolute;
  width:20%;
  right:0;
  bottom:0;
  min-height: 93vh;
  max-height: 93vh;
  background-color: lightblue;
  display:flex;
  justify-content: space-around;
  align-items:center ;
  flex-direction: column;
}
.button-group{
  display:flex;
  flex-direction: column-reverse;
}
.selectOptions{
  width:15vw;
}

.school-type-container{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.header-label{
  font-family:"Helvetica";
  display:block;
  font-weight: bold;
  margin-bottom: 5px;
}

#SchoolDescriptionPage{
display:none;
width:100%;
height:100%;
}

.searchResultDetail{
  display:none;
  clear:both;
}
#map{
  position:relative;
  width:80%; 
  height:93vh;
  z-index: 1;
  }
