*{
  margin:0;
  padding:0;
}
html,body{
  height:100%;
  width:100%;
}
h1{
  font-family:"Helvetica";
}
.search-input-filter{
display:flex;
flex-direction: column;
align-items: center;
}
.search-box{
  font-size: 1em;
  width:15vw;
  border-radius: 4%;
}
.filter-districts{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.filter-grade{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.filter-SchoolTypes{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.ClearSearch{
  display:flex;
  flex-direction: column;
  align-items: center;
}
button{
  font-family:"Helvetica";
  padding:7px 17px;
  margin:.25em;
  text-indent:0px;
  box-sizing: border-box;
  cursor: pointer;
  min-height: 3vh;
  width:14vw;
  font-size: 1em;
  border-radius: 4%;
  background-color: lightcyan;
}
input{
  font-family:"Helvetica";
  padding:7px 17px;
  border-radius: 4%;
}
select{
  cursor: pointer; 
  height: 2.5vh;
  width:15vw;
  font-size: 1em;
  border-radius: 4%;
  background-color: lightcyan;
}

.rate{
  top: 0;
  left: 0;
  height: 1.25em;
  width: 1.25em;
  background-color: #eee;
  border-radius: 50%;
}
.header{
  position:Relative;
  top:0;
  min-width:100%;
  min-height: 7vh;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
}
.filter-bar{
  position:relative;
  width:20%;
  right:0;
  margin-top: auto;
  min-height: 93%;
  max-height: 93%;
  background:linear-gradient(89deg, rgba(219,195,195,0.9475140397956058) 6%, rgba(231,221,221,1) 16%, rgba(222,201,201,1) 29%, rgba(238,236,236,1) 47%, rgba(232,219,219,1) 60%, rgba(227,208,208,0.9587185215883228) 86%, rgba(238,236,236,1) 95%);
  display:flex;
  justify-content: space-around;
  align-items:center ;
  flex-direction: column;
}
.button-group{
  display:flex;
  flex-direction: column-reverse;
}
.selectOptions{
  width:15vw;
}

.school-type-container{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.header-label{
  font-family:"Helvetica";
  display:block;
  font-weight: bold;
  margin-bottom: 5px;
}

.searchResultDetail {
  display:none;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 11px;
  letter-spacing: 0.2px;
  word-spacing: 1px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: none;
  font-variant: normal;
  text-transform: uppercase;
  text-align: left;
  padding-right: 60px;
  padding-left: 40px;
  clear:both;
}
#map{
  position:relative;
  width:80%;
  top:0;
  margin-right:auto; 
  height: 93vh;
  height: calc(var(--vh, 1vh) * 93);
  z-index: 1;
  }


@media(min-width:300px){
 p{
   font-size:1.5em;
 }
  label{
    font-size: 1.5em;
  }
  h1{
    font-size:2em;
  }
  h3{
    font-size: 2em;
  }
 .SearchResultBar{
    position:absolute;
    width:80%;
    min-height: 10vh;
    max-height:20vh;
    margin-top: auto;
    bottom:0;
    background:linear-gradient(89deg, rgba(255,255,255,0.9671218829328606) 0%, rgba(242,242,242,0.9475140397956058) 18%, rgba(212,195,195,0.8774860285911239) 48%, rgba(240,240,240,0.9363095580028886) 85%, rgba(255,255,255,0.9587185215883228) 100%);
   z-index:50;
    margin-left:0;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow:hidden;
    }
  
  
    .searchContainer{
      max-height: 1000vh;
      min-height: 10vh;
      bottom:0;
      width:100%;
      display:flex;
      text-align: center;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      overflow: scroll;
      clear:both;
    }
    .searchResultTab{
    width:100%;
    padding-top:1vh;
    padding-bottom:1vh;
    border-style:outset;
    border-width:1px;
    clear:both;
    }
    .searchResultName{
      display:flex;
      font-size: 18px;
      justify-content: center;
      clear:both;
    }
    
    .searchResultDetail{
      display:none;
      clear:both; 
   font-family: Tahoma, Geneva, sans-serif;
  font-size: 11px;
  letter-spacing: 0.2px;
  word-spacing: 1px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: none;
  font-variant: normal;
  text-transform: uppercase;
  text-align: left;
  padding-right: 60px;
  padding-left: 40px;
    }
    
}
@media (min-width: 1050px) {
  label{
    font-size: 1em;
  }
  h1{
    font-size:1.5em;
  }
  h3{
    font-size: 1em;
  }
  p{
    font-size:1em;
  }
  .SearchResultBar{
    position: absolute;
width: 29vw;
min-height: 45vh;
max-height:85vh;
top: 30px;
bottom:none;
left: 10px;
padding: 10px;
background:linear-gradient(89deg, rgba(255,255,255,0.9671218829328606) 0%, rgba(242,242,242,0.9475140397956058) 18%, rgba(212,195,195,0.8774860285911239) 48%, rgba(240,240,240,0.9363095580028886) 85%, rgba(255,255,255,0.9587185215883228) 100%);
z-index:990;
margin-top: 20vh;
margin-left:0vh;
display:flexbox;
justify-content: flex-start;
align-items: center;
flex-direction: column;
overflow:hidden;
    }
  
    .searchContainer{
      max-height: 60vh;
      min-height: 50vh;
      text-align: center;
      display:flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      overflow: scroll;
      clear:both;
    }
    .searchResultTab{
    width:100%;
    padding-top:1vh;
    padding-bottom:1vh;
    border-style:outset;
    border-width:1px;
    clear:both;
    }
    .searchResultName{
      display:flex;
      font-size: 18px;
      justify-content: center;
      clear:both;
    }
    
    
}
